@import "tailwindcss";

@theme inline {
  --color-surface: #080502;
  --color-container: #201f1f;
  --color-primary: #ebdbb2;
  --color-outline: #3b494b;
  --color-alert: #fabd2f;
  --color-success: #b8bb26;
  --color-secondary: #fb4934;
  --font-mono: var(--font-jetbrains-mono);
}

body {
  background: #080502;
  color: #ebdbb2;
  font-family: var(--font-jetbrains-mono);
}
